<!DOCTYPE html>
<html lang="pt-br">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
      <link rel="stylesheet" href="../static/style.css">
      <link rel="icon" type="img/png" href="../static/img/icon.png">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
      <title>Lucas Castro</title>
  </head>

  <body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/img/lucascastro.jpg" alt="Foto do Lucas">
            <h1>Lucas Castro</h1>
            <div class="social-links mt-4 text-center">
                <a href="https://www.instagram.com/ccastro_llucas?igsh=MTZvbWU0aGwweG5wcA==" target="_blank">
                    <i class="bi bi-instagram"></i>
                </a>

                <a href="www.linkedin.com/in/lucas-de-castro-1428a7150" target="_blank">
                    <i class="bi bi-linkedin"></i>
                </a>

                <a href="https://github.com/devcasttro" target="_blank">
                    <i class="bi bi-github"></i>
                </a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#inicio">
                    <i class="bi bi-house"></i> Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre">
                    <i class="bi bi-person"></i> Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#habilidades">
                    <i class="bi bi-list-check"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#curriculo">
                    <i class="bi bi-file-earmark"></i> Currículo</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#portfolio">
                    <i class="bi bi-collection"></i> Portfólio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contato">
                    <i class="bi bi-envelope"></i> Contato</a>
                </li>
            </ul>
        </nav>
    </aside>

    <main id="main">

      <section id="inicio" class="row m-0 p-0">
        <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
          <h2 class="text-white text-shadow">Lucas Castro</h2>
          <span id="subtitle" class="text-white text-shadow">
            Gestor de T.I. e Desenvolvedor.
          </span>
        </div>

        <div class="col-md-7 d-flex justify-content-end align-items-end">
          <div id="arraste" class="d-flex aling-items-center">
            <i class="bi bi-arrow-down text-white pe-2 fs-2" arial-hidden="true"></i>
            <a href="#sobre">Arraste para mais</a>
          </div>
        </div>
      </section>      

      <section id="sobre" class="container mt-5">
        <div class="row w-100">
          <div class="col-md-12" data-anime="down">
            <h2 class="pt-3">Sobre</h2>
            <p>
              É incrível como a tecnologia impulsiona a inovação, abrindo caminho para descobertas que antes eram impensáveis. Eu também compartilho dessa crença desde o início da minha carreira, mais de uma década atrás. É fascinante ver como as possibilidades se expandem constantemente, motivando-nos a explorar o inexplorado e a alcançar o inimaginável. Essa é a força que nos impulsiona adiante, criando um futuro onde o potencial da tecnologia é verdadeiramente ilimitado.
            </p>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-4">
            <img class="img-fluid shadow" src="../static/img/lucascastro.jpg" alt="Foto do Lucas Castro" data-anime="left">
          </div>

          <div class="col-md-8" data-anime="up">
            <h3>Gestor de T.I na empresa CGB Energia.</h3>
            <p>
              Gestor responsável pelo Departamento de TI na empresa CGB ENERGIA, uma empresa com certificações em normas ABNT, como: ISO 9001, ISO 14001 e ISO 45001, na região Marajoara.
            </p>

            <div class="row mt-3 mb-3">
              <div class="col-md-6">
                <ul class="list-group list-group-flush fs-5">
                  <li class="list-group-item">
                    Niver: <span class="fw-lighter"> 25 de setembro de 2000</span>
                  </li>
                  <li class="list-group-item">
                    Idade: <span class="fw-lighter">23 anos</span>
                  </li>
                  <li class="list-group-item">
                    Cidade: <span class="fw-lighter">Breves</span>
                  </li>
                  <li class="list-group-item">
                    Estado: <span class="fw-lighter">Pará</span>
                  </li>
                </ul>
              </div>
              
              <div class="col-md-6">
                <ul class="list-group list-group-flush fs-5">
                  <li class="list-group-item">
                    Hobbie: <span class="fw-lighter">Aprender</span>
                  </li>
                  <li class="list-group-item">
                    Site: <a href="https://www.inovacaocastro.com.br/" 
                    target="_blank" 
                    class="fw-lighter text-decoration-none link-dark">Inovação Castro</a> 
                  </li>
                  <li class="list-group-item">
                    Trabalho: <a href="https://www.cgbengenharia.com.br/"
                    target="_blank" 
                    class="fw-lighter text-decoration-none link-dark">CGB Energia</a> 
                  </li>
                  <li class="list-group-item">
                    Experiênca: <span class="fw-lighter">+10 anos</span>
                  </li>
                </ul>
              </div>
            </div>

            <p>
              Além de trabalhar com tecnologia na empresa CGB Energia, atualmente, fora do ambiente de trabalho, invisto meu tempo livre em projetos pessoais no âmbito da programação, robótica e redes de computadores.
            </p>

          </div>
        </div>
      </section>

      <section id="habilidades" class="mt-5 section-bg">
        <div class="container pb-5">
          <h2 class="pt-5">Habilidades</h2>
          <p>
            Em todo tempo como profissional de tecnologia eu adquiri algumas habilidades técnicas e não técnicas, a maioria delas estão aqui, de acordo com a porcentagem de conhecimento que eu acredito ter em cada uma delas.
          </p>

          <div class="row">
            <div class="col-md-6">
              <p class="mt-3 mb-0">HTML</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 90%" data-anime="left">90%</div>
              </div>

              <p class="mt-3 mb-0">CSS</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 85%" data-anime="left">85%</div>
              </div>

              <p class="mt-3 mb-0">JavaScript</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 80%" data-anime="left">80%</div>
              </div>

              <p class="mt-3 mb-0">PHP</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 70%" data-anime="left">70%</div>
              </div>

              <p class="mt-3 mb-0">Python</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 95%" data-anime="left">95%</div>
              </div>

              <p class="mt-3 mb-0">Java</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 30%" data-anime="left">30%</div>
              </div>

              <p class="mt-3 mb-0">C++</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 40%" data-anime="left">40%</div>
              </div>
            </div>

            <div class="col-md-6">
              <p class="mt-3 mb-0">Angular</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 70%" data-anime="left">70%</div>
              </div>

              <p class="mt-3 mb-0">Ionic</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 85%" data-anime="left">85%</div>
              </div>

              <p class="mt-3 mb-0">NodeJs</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 50%" data-anime="left">50%</div>
              </div>

              <p class="mt-3 mb-0">Flask</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 85%" data-anime="left">85%</div>
              </div>

              <p class="mt-3 mb-0">Django</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 80%" data-anime="left">80%</div>
              </div>

              <p class="mt-3 mb-0">QSL</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 70%" data-anime="left">70%</div>
              </div>

              <p class="mt-3 mb-0">Firebird</p>
              <div class="progress mb-3" role="progressbar" aria-label="Example with label" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 65%" data-anime="left">65%</div>
              </div>
            </div>
          </div>

          <hr class="w-50 me-auto ms-auto">

          <div class="row">
            <div class="col-md-6">
              <p class="mt-3 mb-0">Trabalho em equipe</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 90%" data-anime="left">90%</div>
              </div>

              <p class="mt-3 mb-0">Proatividade</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 98%" data-anime="left">98%</div>
              </div>

              <p class="mt-3 mb-0">Comunicação</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 90%" data-anime="left">90%</div>
              </div>
            </div>

            <div class="col-md-6">
              <p class="mt-3 mb-0">Inovador</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 95%" data-anime="left">95%</div>
              </div>

              <p class="mt-3 mb-0">Planejador</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 99%" data-anime="left">99%</div>
              </div>

              <p class="mt-3 mb-0">Analítico</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 93%" data-anime="left">93%</div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="curriculo" class="mt-5 cv">
        <div class="container pb-5">
          <h2 class="pt-3 pb-4">Currículo</h2>
          <div class="row">

            <div class="col-md-6">
              <h3 class="cv-title">Educação</h3>

              <div class="cv-item" data-anime="up">
                <h4>Engenharia de Computação</h4>
                <h5>2022 - 2026</h5>
                <p><em>Cruzeiro do Sul</em></p>
                <p>Graduação voltada para projetar, desenvolver e gerenciar sistemas computacionais. Isso inclui hardware, software, redes e sistemas embarcados.</p>
              </div>

              <div class="cv-item" data-anime="up">
                <h4>Web Designer</h4>
                <h5>2017 - 2018</h5>
                <p><em>Microlins</em></p>
                <p>Curso voltado paravprojetar e criar elementos visuais para websites. Isso inclui o layout, a aparência e a usabilidade de uma página na internet.</p>
              </div>

              <div class="cv-item" data-anime="up">
                <h4>Ensino Médio</h4>
                <h5>2016 - 2018</h5>
                <p><em>E.E.E.M Profº Gerson Peres</em></p>
                <p>Instituição de ensino de nível médio, da rede publica estadual, cituada na cidade de Breves/Pa.</p>
              </div>

            </div>

            <div class="col-md-6">
              <h3 class="cv-title">Profissão</h3>

              <div class="cv-item" data-anime="up">
                <h4>Encarregado de T.I</h4>
                <h5>2022 - Atual</h5>
                <p><em>CGB Energia</em></p>
                <p>Gestor responsável pelo Departamento de TI na empresa CGB ENERGIA, uma empresa com certificações em normas ABNT.</p>
              </div>

              <div class="cv-item" data-anime="up">
                <h4>Técnico em Informática e Programador</h4>
                <h5>2021 - 2022</h5>
                <p><em>Multisoft</em></p>
                <p>Manutenção de computadores e sistemas, treinamento de sistema ERP, desenvolvimento de aplicações.</p>
              </div>

              <div class="cv-item" data-anime="up">
                <h4>Técnico em Informática e Designer</h4>
                <h5>2014 - 2020</h5>
                <p><em>BiteByte</em></p>
                <p>Manutenção de computadores e sistemas, treinamento de sistema ERP e criação de Artes Visuais.</p>
              </div>

            </div>

          </div>
        </div>
      </section>

      <section id="portfolio" class="section-bg mt-5">
        <div class="container pb-5 pt-5" data-anime="up">
          <h2 class="pb-4">Portfólio</h2>

          <div id="carouselPortfolio" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col">
                    <div class="card">
                      <img src="../static/img/nodeprop.png" class="card-img-top" alt="Site NodeProp">
                      <div class="card-body">
                        <h5 class="card-title">Agência de Marketing</h5>
                        <p class="card-text">Projeto desenvolvido utilizando HTML, CSS e JavaScript.</p>

                        <div class="d-flex justify-content-center">
                          <a href="" target="_blank" class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                          <a href="" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img src="../static/img/nodeshop.png" class="card-img-top" alt="Site NodeShop">
                      <div class="card-body">
                        <h5 class="card-title">Loja de Eletrônicos</h5>
                        <p class="card-text">Projeto desenvolvido utilizando HTML, CSS e JavaScript.</p>

                        <div class="d-flex justify-content-center">
                          <a href="" target="_blank" class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                          <a href="" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img src="../static/img/bitebyte.png" class="card-img-top" alt="Site BiteByte">
                      <div class="card-body">
                        <h5 class="card-title">Provedor de Internet</h5>
                        <p class="card-text">Projeto desenvolvido utilizando HTML, CSS, JavaScript, Bootstrap.</p>

                        <div class="d-flex justify-content-center">
                          <a href="" target="_blank" class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                          <a href="" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="carousel-item" data-bs-interval="2000">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col">
                    <div class="card">
                      <img src="../static/img/nodeprop.png" class="card-img-top" alt="Site NodeProp">
                      <div class="card-body">
                        <h5 class="card-title">Agência de Marketing</h5>
                        <p class="card-text">Projeto desenvolvido utilizando HTML, CSS e JavaScript.</p>

                        <div class="d-flex justify-content-center">
                          <a href="" target="_blank" class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                          <a href="" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img src="../static/img/nodeshop.png" class="card-img-top" alt="Site NodeShop">
                      <div class="card-body">
                        <h5 class="card-title">Loja de Eletrônicos</h5>
                        <p class="card-text">Projeto desenvolvido utilizando HTML, CSS e JavaScript.</p>

                        <div class="d-flex justify-content-center">
                          <a href="" target="_blank" class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                          <a href="" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img src="../static/img/bitebyte.png" class="card-img-top" alt="Site BiteByte">
                      <div class="card-body">
                        <h5 class="card-title">Provedor de Internet</h5>
                        <p class="card-text">Projeto desenvolvido utilizando HTML, CSS, JavaScript, Bootstrap.</p>

                        <div class="d-flex justify-content-center">
                          <a href="" target="_blank" class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                          <a href="" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        </div>
      </section>

      <section id="contato" class="pt-5 pb-5">
        <div class="container mb-5">
          <h2 class="pt-3 pb-3">Contato</h2>

          <div class="row">

            <div class="col-md-5" >
              <div class="card p-5 shadow border-0" data-anime="up">

                <div class="endereco">
                  <h4><i class="bi bi-geo-alt"></i>Localização:</h4>
                  <p>Breves, PA</p>
                </div>

                <div class="email">
                  <h4><i class="bi bi-envelope"></i> Email:</h4>
                  <p>lucas.castro@inovacaocastro.com.br</p>
                </div>

                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15952.36425049258!2d-50.47721572485353!3d-1.6859912267137258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1716924620688!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
                
              </div>
            </div>

            <div class="col-md-7 mt-5 mt-md-0">
              <div class="card p-5 h-100 shadow border-0" data-anime="left">

                <form class="row g-3" action="/send" method="POST">
                  <div class="col-md-6">
                    <label for="nome" class="form-label">Nome:</label>
                    <input 
                    type="text" 
                    class="form-control" 
                    id="nome" 
                    name="nome" 
                    placeholder="Digite seu nome"
                    required>
                  </div>

                  <div class="col-md-6">
                    <label for="email" class="form-label">Email:</label>
                    <input 
                    type="email" 
                    class="form-control" 
                    id="email" name="email" 
                    placeholder="Digite seu email"
                    required>
                  </div>

                  <div class="col-12">
                    <label for="mensagem" class="form-label">Mensagem:</label>
                    <textarea 
                    type="text" 
                    class="form-control" 
                    id="mensagem" 
                    name="mensagem" 
                    placeholder="Digite sua mensagem" 
                    rows="10" required></textarea>
                  </div>

                  <div class="col-12 d-flex justify-content-center mt-4">
                    <button id="btn-enviar" type="submit" class="btn btn-primary">Enviar mensagem</button>

                    <button id="btn-enviar-loader" class="btn btn-primary" type="button" disabled>
                      <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                      <span role="status">Enviando...</span>
                    </button>
                  </div>
                </form>
                
              </div>
            </div>

          </div>
        </div>
      </section>

      <!-- Mensagem de confirmação de envio --> 
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}

            <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
              <i class="bi bi-check-circle-fill"></i> {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

          {% endfor %}
        {% endif %}
      {% endwith %}
    </main>

    <footer id="footer">
      <div class="container">
        <div class="text-center">
          &copy; Copyright <strong>Lucas Castro</strong>
        </div>
      </div>
    </footer>
  
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
  </body>
</html>